{% extends 'main.html' %}

{% block content %}
    <div class="test">
        <h4>Question #{{ pk }}</h4>
        <div class="card question">
            {{ question.text.strip | linebreaks }}
            {% if question.image %}
                <img
                    class="question-image"
                    src="{{ question.image.url }}"
                >
            {% endif %}
            <form method="post" action="/test/{{ pk }}">
                {% for option in question.answers.all %}
                    <div>
                        <label>
                            <input
                                name="answer"
                                type="radio"
                                value="{{ option.no }}"
                            >
                            {{ option.text | safe }}
                            <sub>{{ option.is_correct }}</sub>
                        </label>
                    </div>
                {% endfor %}

                <input type="submit" class="submit-btn" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}