<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Biology</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Merriweather+Sans|Pacifico&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'header.html' with user=user %}
    <div id="app">
        {% block content %}
            <div class="card">
                <form method="post" action="test/start">
                    <input class="start-btn" type="submit">
                </form>
            </div>
        {% endblock %}
    </div>

</body>
</html>
